<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/logo.png" width="30" height="30" alt="Study-Teo" style="margin-left: 10px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form th:action="@{/search/study}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search Study"
                           aria-label="Search"/>
                </form>
            </li>
        </ul>
        
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/sign-up}">Sign-up</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>Create Account</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       placeholder="ex) jaime" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted">
                    Please enter at least 3 characters and within 20 characters with only letters and numbers without spaces. You can change it after signing up.
                </small>
                <small class="invalid-feedback">Enter Nickname</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                                                                                                                      Error</small>
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="ex) abc@example.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    Study-Teo is not open email.
                </small>
                <small class="invalid-feedback">Enter email</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                                                                                                Error</small>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    Please enter between 8 and 50 characters. English letters, numbers, and special symbols can be used, but spaces cannot be used.
                </small>
                <small class="invalid-feedback">Enter password</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                                                                                                                      Error</small>
            </div>
            
            <div class="form-group d-grid">
                <button class="btn btn-primary btn-default" type="submit"
                        aria-describedby="submitHelp">Sign-up
                </button>
                
            </div>
            <small id="submitHelp" class="form-text text-muted">
                If you agree to the <a href="#">Terms and conditions</a> , click the sign-up button.
            </small>
        </form>
    </div>
    
    <footer th:fragment="footer">
        <div class="row justify-content-center">
            <small class="d-flex mb-3 text-muted" style="justify-content: center">Study-Teo &copy; 2021</small>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                //submit 이벤트가 발생했을 때 validation이 유효한지 확인하고
                //유효하지 않다면, 폼이 서브밋이 안되도록 설정.
                //required가 들어가있는 input을 대상으로 확인한다.
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
</body>
</html>